.mainContainer {
    display: flex;
    flex-direction: row;
}

.rightSideBarCont {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 44px;
    bottom: 0;
    right: 0;
    width: 720px;
    max-width: 820px;
    background-color: rgb(28, 28, 31);
    color-scheme: dark;
    padding: 32px 80px 64px;
    overflow-y: auto;
    font-family: Helvetica, sans-serif;
}

.rightSideBarCont::after, .rightSideBarCont::before {
    box-sizing: inherit;
}

.stepsCounterCont {
    color: #D1D2D3;
    font-size: 13px;
    margin: 0px 0px 24px;
}

.setupHeader {
    font-size: 50px;
    color: #D1D2D3;
    margin: 0px 0px 8px;

}

.subHeader {
    font-size: 15px;
    color: #D1D2D3;
    margin: 0px 0px 24px;
}

.inputContainer {
    display: block;
    width: 458px;
    height: 64px;

}

.teamNameInput {
    display: inline-block;
    width: 600px;
    height: 18px;
    margin: 0px 0px 20px;
    padding: 11px 46px 13px 12px;
    line-height: 1.33333333;
    font-size: 18px;
    background-color: #1A1D21;
    border: 1px solid rgba(209, 210, 211, 0.3);
}

.characterCount {
    display:none;
    justify-content: center;
    align-items: center;
    width: 45.89px;
    height: 44px;
    color: #D1D2D3;
    font-size: 20px;
    line-height: 1.46668;
    font-weight: 400;
    position: fixed;
    right: 130px;
    top: 290px;
}

.nextButton {
    margin-top: 48px;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    padding: 0px 16px 3px;
    width: 200px;
    border: 1px solid rgb(53, 55, 59);
}

.teamNameContainer {
    display: flex;
    position: fixed;
    width: 578px;
    height: 50px;
    background-color: #19171de3;
    padding: 12px 54px 0px 16px;
    left: 0;
    top: 44px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    border: 1px solid #19171de3;
}

.teamNameContainer:hover {
    background-color: #19171D;
    border: 1px solid #19171de3;
}

.containerInfo {
    width: 530px;
    height: 32px;
}

.sideBarHeaderTeamName {
    margin: 0px 0px 0px -4px;
    padding: 4px 4px 4px 8px;

}
